<h1>Matière</h1>


<h2>Une prévisualisation de l’article personnalisé est-elle possible?</h2>

<p>Pour des raisons techniques et en raison du grand nombre d’articles proposés, nous ne pouvons pas proposer une
  prévisualisation sur le produit directement mais nous proposons sur chaque fiche produit une prévisualisation des
  polices en fonction de votre texte. Nous avons une longue expérience dans le domaine de la gravure bijou, et la
  gravure est optimisée en fonction des contraintes du produit (taille, forme, …)
  Peut-on graver tout ce que l’on veut?
  Il est possible de graver des lettres, des chiffres et des caractères spéciaux (coeurs, étoiles, etc …). Pour
  certains produits, il peut y avoir un supplément de prix pour graver des lettres si l’alphabet n’est pas compatible
  avec la police (arabe, chinois, russe, grec, …) ou des signes très spéciaux. Il se peut que la prévisualisation ne
  fasse pas apparaître tous les caractères, et cela ne veut pas automatiquement dire que les caractères concernés ne
  sont pas gravables. N’hésitez pas à vous mettre en contact avec notre service client si vous avez un doute, car nous
  saurons vous dire rapidement ce qu’il en est.</p>

<h2>Quel type de plaquage-or propose t-on?</h2>

<p>Un bijou plaqué or est un bijou en métal recouvert par électrolyse d’une fine pellicule d’or. Pour obtenir sa belle
  couleur dorée et sa résistance, l'or est mélangé à 25% d'argent et de cuivre c'est ce que l'on appelle l'or 18
  carats, il est facile à travailler. Le métal d’origine lui, est constitué de laiton, un alliage de cuivre et de zinc.
  La principale cause de l’interdiction du nickel en France est dûe à la multiplication des allergies. L’épaisseur
  requise pour les bijoux plaqué or varie, cela dépend du nombre d’application déposé sur le bijou, c’est ce que l’on
  appelle : plaqué or 1 micron, 2 microns… Ce plaquage or ne dure pas dans le temps, il peut se ternir jusqu’à
  disparaître. Il faut savoir qu'un bijou plaqué or à 3 microns ne s'usera pas moins vite qu'un bijou plaqué or à 1
  micron. On atteindra seulement la couche de cuivre plus tard. La plupart de nos bijoux sont en argent 925 et
  recouverts d’un plaquage or de 1 à 5 microns selon les modèles. Pour cela, consultez attentivement nos fiches
  produit.

  Entretien du plaqué or :

  Pour garder un bijou plaqué or le plus longtemps possible, il est conseillé de le retirer lorsque vous utilisez des
  produits abrasifs tels que l’alcool, la javel, le parfum … Aussi évitez de le porter à la mer ou à la piscine et de
  faire du sport avec car l’acidité de la peau peut également le ternir.

  <h2>Quel type de gravure propose t-on?</h2>

  <p>La gravure diamant est une gravure standard type bijoutier, légère et élégante. La gravure laser n'est pas une
    gravure de couleur noire mais une gravure plus profonde avec des contours plus définis, qui résiste également plus
    longtemps.</p>



  <h1>Compte client</h1>

  <h2>Un compte client est-il obligatoire?</h2>

  <p>Non, vous pouvez aussi consulter la vitre sans compte client. Un compte client vous permet néanmoins de suivre en
    ligne l’évolution de votre commande, d’accumuler des points fidélité-bons d’achat, de profiter d’offres exclusives
    aux clients enregistrés et de modifier vos données personnelles.

    Que faire en cas d’oubli du mot de passe?

    Dans ce cas, cliquez sur « mot de passe oublié » et indiquez votre adresse e-mail, ou alors contactez notre service
    client par e-mai an info@bijoulia.fr.
    Comment résilier mon compte client?
    L’inscription à notre site est gratuite et vous pouvez la résilier à tout moment. Il est possible de supprimer
    votre compte client en envoyant un e-mail avec votre demande à l'adresse info@bijoulia.fr


    <h2>Je ne souhaite pas que la facture soit présente dans le colis car c’est un cadeau : comment faire ?</h2>
    <p>Chez APALA, on ne met jamais de facture papier dans les colis. Par souci écologique, économique aussi … Car
      votre facture reste toujours disponible en ligne sur votre compte client si besoin.</p>

    <h2>Où sera fabriqué mon bijou ?</h2>
    <p>Votre bijou sera fabriqué dans notre atelier de joaillerie parisien : c'est du « Made in France ».

      Afin de vous garantir une qualité optimale de votre bijou, il sera réalisé sur mesure par l'un de nos joailliers.
      Il s'agit donc d'une création artisanale réalisée dans la plus pure tradition joaillière française

      Nous sommes l'une des seules sociétés présentes sur Internet à avoir notre propre atelier de joaillerie.

      Les clients qui le souhaitent peuvent venir à notre atelier de joaillerie afin de suivre, étape après étape, la
      fabrication de leur bijou.</p>
  </p>



  Co