<section class="index-section">
    <div class="newProducts-intro-title">
        <h2>LES NOUVEAUTÉS</h2>
    </div>
    <div class="newProducts-intro-filters">
        <div class="filter-all">
            <p>Tous</p>
            <i class="fas fa-sort-down"></i>
        </div>
        <div class="filter-all">
            <p>Bracelets</p>
            <i class="fas fa-sort-down"></i>
        </div>
        <div class="filter-all">
            <p>Colliers</p>
            <i class="fas fa-sort-down"></i>
        </div>
        <div class="filter-all">
            <p>Sautoirs</p>
            <i class="fas fa-sort-down"></i>
        </div>
        <div class="filter-all">
            <p>Bagues</p>
            <i class="fas fa-sort-down"></i>
        </div>
    </div>
    <div class="newProducts-intro-pictures">
        {{!-- <img src="./public/images/myawesomepicture1.jpg" />
        <img src="./public/images/myawesomepicture2.jpg" />
        <img src="./public/images/myawesomepicture3.jpg" />
        <img src="./public/images/myawesomepicture4.jpg" /> --}}
        <div class=" image-index"></div>
        <div class="image-index"></div>
        <div class="image-index"></div>
        <div class="image-index"></div>
    </div>
    <div class="newProducts-intro-welcome-message">
        <h2>Bienvenue dans la nouvelle boutique en ligne d’APALA, alliant éclat et charme <br> pour le plaisir de
            porter ses
            bijoux ou bien de les offrir.</h2>
    </div>
    <hr class=" hr-index">
    <div class="newProducts-intro-catch-phrase">
        <p>Nos créations vous habilleront totalement… ou presque.</p>
    </div>



    <div class="block-insta-and-newsletter-form">

        <div class="instagram-API-display">
            <h3>>APALA sur Istagram</h3>
            <div class="ista-post-img"></div>

        </div>


        <div class="intro-newsletter-form">
            <h3>S'abonner à APALA</h3>
            <p>Profitez d’Apala en vous abonnant à notre newsletter pour recevoir les dernières <br> nouvelles,
                événements, promotions…</p>
            <form action="/subscribe-newsletter" method="POST">
                <label>
                    <input type="email" name="email" placeholder="Votre adresse mail..." />
                </label>
                <button>S'incrire</button>
            </form>
        </div>
    </div>
    <div class="scroll-up">
        <i class="fas fa-sort-up"></i>
        <p> RETOUR EN HAUT</p>
    </div>
</section>