<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <header>
    <div class="language-div"><a href=""> 🇫🇷Francais</a></div>
    <div class="connexion-wishlist">
      <a href="">Connexion</a>
      <a href="">Whishlist</a>
    </div>




  </header>
  <div class="title-container">
    <div class="title">
      {{!-- <img src="../public/images/Group 34.png" alt=""> --}}
    </div>
  </div>
  <div class="sub-header">
    <div class="arrow-hoover"><a href="">maison apala</a><i class="fas fa-sort-up"></i>
    </div>
    <div class="arrow-hoover"><a href=""> homme</a><i class="fas fa-sort-up"></i>

    </div>
    <div class="arrow-hoover"><a href="">femme</a><i class="fas fa-sort-up"></i>

    </div>
    <div class="arrow-hoover"><a href="">les ephemeris</a><i class="fas fa-sort-up"></i>

    </div>
    <div class="arrow-hoover"><a href="">cadeaux</a><i class="fas fa-sort-up"></i>
    </div>
  </div>

  {{{body}}}
  <footer>

  </footer>

  <script src="/javascripts/script.js"></script>
</body>

</html>