<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <section class="big-header">
    <header>
      <div class="language-div"><a href=""> 🇫🇷Francais</a></div>
      <div class="connexion-wishlist">
        <div class="connexion-form">
          <p id="connexion" href="/connexion">Connexion</p>
          <div class="login-form" id="login">
            <form action="/process-login" method="POST">
              <label>
                Email:
                <input type="email" name="eMail" placeholder="gfcgk@rfgh.com">
              </label>
              <br><label>Password:
                <input type="password" name="originalPassword" placeholder="it's a secret">
              </label>
              <br>
              <div class="button-or-sign"><button>Log In</button>
                <p>or</p> <a href="/signup">Sign Up</a>
              </div>

            </form>

          </div>
        </div>
        {{#if currentUser}}
        <h2>{{currentUser.preNom}}</h2>
        <a href="/logout">Log Out</a>
        {{/if}}
        <a href="/wishList"><i class="far fa-heart"></i>
        </a>
      </div>





    </header>
    <div class="title-container">
      <div class="title">
        {{!-- <img src="../public/images/Group 34.png" alt=""> --}}
      </div>
    </div>
    <div class="sub-header">
      <div class="arrow-hover arrow-hover1">
        <a class="" href="/">maison apala</a>

      </div>

      <div class="arrow-hover arrow-hover2">
        <p href="" id="a"> homme</p>
        <div class=" arrow arrow2" id="b"> <i class="fas fa-sort-up"></i>
          <a href="/homme/collection">Collection</a>
          <hr>
          <a href="/homme/bracelets">Bracelets</a>
          <hr>
          <a href="/homme/sautoir">Sautoir</a>
          <hr>
          <a href="/homme/costum">Costum</a>
        </div>

      </div>
      <div class="arrow-hover arrow-hover3">
        <p id="c" href="">femme</p>
        <div class="arrow arrow3" id="d"><i class="fas fa-sort-up"></i>
          <a href="/femme/collection">Collection</a>
          <hr>
          <a href="/femme/bracelets">Bracelets</a>
          <hr>
          <a href="/femme/sautoir">Sautoir</a>
          <hr>
          <a href="/femme/costum">Costum</a>
          <hr>
          <a href="/femme/rasDuCol">Ras du col</a>
        </div>
      </div>
      <div class="arrow-hover4"><a href="">les ephemeris</a><i class="fas fa-sort-up"></i>

      </div>
      <div class="arrow-hover5"><a href="">cadeaux</a><i class="fas fa-sort-up"></i>
      </div>
    </div>
  </section>
  {{{body}}}
  <footer>
    <div class="top-footer">
      <a href="/">
        <p>HOME</p>
      </a>
      <p>BOUTIQUE</p>
      <p>SUR-MESURE</p>
      <p>LES PIERRES</p>
      <p>CONDITIONS GÉNÉRALES DE VENTE</p>
      <p>MENTIONS LÉGALES</p>
      <p>NOUS CONTACTER</p>
    </div>
    <div class="title-container">
      <div class="brand-name-footer"></div>
    </div>
    <div class="middle-footer">
      <div class="middle-first">
        <p>Apala</p>
        <p>6 rue de Musset</p>
        <p>75116 PARIS</p>
        <p> Tel : + 33 7 82 84 18 57</p>
        <p>E-Mail : contact@apala.paris</p>
      </div>
      <div "middle-second">
        <div class="middle-second-top">
          <p>Suivez Nous</p>
        </div>
        <div class="middle-second-bottom">
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-pinterest"></i>
        </div>

      </div>

      <div class="middle-second-third">
        <a href="/question">
          <h1>FAQ</h1>
        </a>
        <p>Une question ? Besoin d’une <br> précision? Consultez notre foire <br> aux questions. <br>
          Vous y trouverez sûrement la <br> réponse que vous cherchez !</p>
      </div>
    </div>
    <div class="end-footer">
      <p>Copyright APALA PARIS 2017. Tous droits réservés</p>
    </div>
  </footer>

  <script src="/javascripts/script.js"></script>
</body>

</html>