<div class="sign-up-div">
  <h1> PAS ENCORE INSCRIT?</h1>
  <h3>Inscrivez-vous pour profiter pleinement de notre vitrine et sauvegarder <br> votre wishlist.</h3>
</div>
<div class="sign-up-structure">
  <form action="/process-signup" method="POST">
    <div class="sig"><label for="">
        <input class="input" type="text" name="preNom" placeholder="Prenom">
      </label></div>
    <div class="sig"> <label for="">
        <input class="input" type="text" name="nom" placeholder="Nom">
      </label></div>
    <div class="sig"><label for="">
        <input class="input" type="text" name="adresse" placeholder="Adresse">
      </label></div>
    <div class="sig"><label for="">
        <input class="input" type="text" name="codePostal" placeholder="Code Postal">
      </label></div>
    <div class="sig"> <label for="">
        <input class="input" type="text" name="pays" placeholder="Pays">
      </label></div>
    <div class="sig"><label for="">
        <input class="input" type="text" name="eMail" placeholder="Email">
      </label></div>
    <div class="sig"><label for="">
        <input class="input" type="password" name="originalPassword" placeholder="Password">
      </label></div>
    <button id="sign">Sign Up</button>
  </form>
</div>