@font-face {
  font-family: "Palatino";
  src: url("../fonts/Palatino.ttc") format("ttc");
  font-weight: normal;
  font-style: normal;
}
h4 {
  font-family: "Palatino", sans-serif;
  font-size: 3em;
}

* {
  font-family: "Palatino";
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #d8c9b6;
}

a {
  color: #00b7ff;
}
header {
  display: flex;
  justify-content: space-between;
  // flex-direction: row;
}
.connexion-wishlist {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  width: 300px;
}
a {
  text-decoration: none;
  color: #d8c9b6;
}
.title {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  background-image: url("../images/Group\ 34.png");
  background-repeat: no-repeat;
  border: 1px solid black;
}
.title h1 {
  font-size: 80px;
}
.sub-header {
  display: flex;
  justify-content: space-around;
  // border: 1px solid black;
  height: 200px;
  margin-top: 30px;
}
.title-container {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
}
.arrow-hover1,
.arrow-hover2 {
  height: 150px;
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.arrow1,
.arrow2,
.arrow3,
.arrow4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  // border: 1px solid black;
  height: 200px;
  width: 150px;

  display: none;
}

.arrow-hover3 {
  height: 200px;
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
// .femme {
//   justify-self: flex-start;
// }

// .arrow-hover:hover {
//   background-color: red;
// }
// .arrow-hover:hover ~ .arrow {
//   background-color: blue;
// }
hr {
  width: 150px;
}
footer {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.top-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.middle-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.end-footer {
  border: 1px solid black;
  text-align: center;
}
.middle-second-bottom {
  display: flex;
  justify-content: space-around;
}
