@font-face {
  font-family: "Palatino";
  src: url("../fonts/Palatino.ttc") format("ttc");
  font-weight: normal;
  font-style: normal;
}
h4 {
  font-family: "Palatino", sans-serif;
  font-size: 3em;
}

* {
  font-family: "Palatino";
}

body {
  // padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #d8c9b6;
}
.big-header {
  background-color: #061042;
}
a {
  color: #00b7ff;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #061042;
  padding-top: 20px;
  margin-bottom: 15px;
  // flex-direction: row;
}
.connexion-wishlist {
  padding-top: 7px;
  display: flex;
  justify-content: space-around;

  width: 300px;
}
a {
  text-decoration: none;
  color: #d8c9b6;
}
.title {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  background-image: url("../images/Group\ 34.png");
  background-repeat: no-repeat;
}
.title h1 {
  font-size: 80px;
}
.sub-header {
  display: flex;
  justify-content: space-around;

  height: 200px;
  margin-top: 30px;
  margin-bottom: 0;
  // background-color: #061042;
}
.title-container {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: #061042;
}
.arrow-hover1,
.arrow-hover2 {
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.arrow1,
.arrow2,
.arrow3,
.arrow4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: 200px;
  width: 150px;

  display: none;
}
.show {
  display: flex;
}
.arrow-hover3 {
  height: 200px;
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
// .femme {
//   justify-self: flex-start;
// }

// .arrow-hover:hover {
//   background-color: red;
// }
// .arrow-hover:hover ~ .arrow {
//   background-color: blue;
// }
hr {
  width: 150px;
}
footer {
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  background-color: #061042;
}
.top-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.middle-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.end-footer {
  text-align: center;
}
.middle-second-bottom {
  display: flex;
  justify-content: space-around;
}
.brand-name-footer {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;

  background-image: url("../images/footer-apala-img.png");
  background-repeat: no-repeat;
}
///-------------------------- index layout----------------------------------////

.index-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.newProducts-intro-title {
  display: flex;
  justify-content: center;
  color: #48433c;
}

.newProducts-intro-filters {
  display: flex;
  justify-content: space-around;

  width: 60%;
  height: 80%;
  color: #6e5c45;
}

.newProducts-intro-pictures {
  margin-top: 30px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-around;

  width: 100%;
  height: 300px;
}

.newProducts-intro-welcome-message {
  display: flex;
  justify-content: center;
  text-align: center;
}

.newProducts-intro-catch-phrase {
  display: flex;
  justify-content: center;
  color: #6e5c45;
}
.filter-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.filter-all p {
  margin: 0;
}
.image-index {
  width: 23%;
  border: 1px solid black;
}
.hr-index {
  width: 500px;
}
.block-insta-and-newsletter-form {
  margin-top: 50px;
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #48433c;
}
.ista-post-img {
  width: 500px;
  height: 100px;
  border: 1px solid black;
}
.newProducts-intro-welcome-message h2 {
  color: #48433c;
}
.scroll-up {
  margin-top: 60px;
  margin-bottom: 20px;
  // border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.scroll-up p {
  margin: 0;
}
//---------------------------- ROUTE.MAN LAYOUT ------------------------------//

.man-woman-img {
  margin-top: 0;
  background-image: url("../images/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
// // .man-woman-img h1 {
//   margin: 0;
//   color: white;
// }
.box {
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.49);
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // border: 1px solid black;
  margin-left: 150px;
  margin-right: 150px;
  color: #48433c;
}
.sort {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  width: 250px;
}
.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  width: 200px;
}
.filter-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  width: 200px;
}
.sort-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  width: 200px;
}
.display-filter-man {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  display: none;
}
.display-sort-man {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

  width: 80%;
  //  display: none;
}
// .grid-product-man {
//   max-width: 960px;
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
//   grid-gap: 29px;
// }
// .z {
//   background-color: rgba(255, 255, 255, 0.8);
//   // border: 1px solid rgba(0, 0, 0, 0.8);
//   font-size: 30px;
//   text-align: center;
//   height: 400px;
//   margin: 4px;
// }
// .grid-image {
//   background-image: url("../images/IMG_1641.JPG");
//   background-repeat: no-repeat;
//   background-size: contain;
//   // border: 1px solid black;
//   height: 300px;
//   width: 300px;
//   position: relative;
//   display: block;
// }

.grid-price {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
  // border: 1px solid black;
  position: relative;
  display: block;
}
.grid-price p,
.grid-price i {
  margin: 8px;
  margin-left: 15px;
}
.z {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.product-img-index0 {
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-product-man {
  max-width: 100%;
  display: grid;
  // flex-direction: row;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 2px;
  flex-wrap: wrap;
  border: 1px solid black;
}
//-----------------------------------------------  PRODUCT.HBS LAYOUT ___________________________________//
.retour {
  margin: 30px 0 30px 0;
}
.product-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}
.three-images-section {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

.image-section-display {
  width: 400px;
  height: 400px;
}
.three-images-section-display {
  width: 120px;
  height: 125px;
}
.description-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // border: 1px solid black;
  text-align: center;
  width: 400px;
}
.productItem-productName {
  text-align: left;
}
.productItem-price {
  font-size: 48px;
}
.ajouter {
  height: 100px;
  width: 250;
  font-size: 18px;
}
.hr-section {
  width: 1100px;
  margin-bottom: 50px;
}
.section-pierres {
  // border: 1px solid black;
  text-align: center;
  color: #48433c;
  margin-bottom: 50px;
}
.div-pierre-display {
  display: flex;
  justify-content: center;
  //   border: 1px solid black;
}
.section-pierres-names {
  // border: 1px solid black;
  width: 50%;
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.this-stones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid black;
}
.this {
  margin: 60px;
  display: flex;
  justify-content: space-around;
}
